/* style.css */

body {
    font-family: 'system-ui', sans-serif;
    margin: 0.1em;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark gray text */
}

header {
    background-color: #4e79a7; /* Calm blue header */
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 6px;
}

.card h2 {
    color: #4e79a7; /* Calm blue heading */
    margin-top: 10px;
}

.card p {
    line-height: 1.6;
}

.card a,
body a {
    color: #ffc107;  /* Joyful pale yellow link */
    text-decoration: none;
    font-weight: bold;
}

.card a:hover,
body a:hover {
    color: #4e79a7; /* Calm blue heading */
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4e79a7; /* Calm blue footer */
    color: #fff;
}

/* Your existing styles go here */

.language-selector {
    text-align: right;
    background-color: #4e79a7; /* Calm blue footer */
    color: #ffffff;
}

.language-selector button {
    margin: 2px;
    padding: 2px 10px;
    cursor: pointer;
}
